/**
 * Custom CSS for application

 */

/* adjust onroute button color  */
.onroute_button{
    color:red;
    background-color:#FFA500;
    border: 1px;
}


/*adjust datepicker css so that it looks nice for bootstrap 4 */
.datepicker td, .datepicker th {
    width: 1.5em;
    height: 1.5em;
}
